@charset "UTF-8";
/* CSS Document */


#title {
	font-size: 2.6em;
	line-height: 1.8em;
	letter-spacing: -0.02em;
}

#sub-title {
	font-size: .9em;
	line-height: 1.2em;
}

#top_nav {
	margin-top: 50px;
}

.top_nav_btn {
	display: none;
}

#mobile_menu {
	display: inline-block;
	width: 100%;
	height: 75px;
	line-height: 75px;
	background: #82A0CF; /*ice blue*/
	font-weight: bold;
	text-align: center;
	color: #fff;
	transition: background ease-in .75s;
}

#mobile_menu:hover {
	background: #3A455F; /*dark blue*/
}

#footer {
	
}

#hidden_br {
	display: block;
}